.footer {
  background-color: #353535;
  color: white;
  padding: 30px 25px;
  &__container {
    @include wrapper;
    @include flex (column, center, flex-start);
    gap: 16px;
    &__logo {
      margin: 0;
      font-size: 18px;
      font-family: "Shrikhand", serif;
    }
    &__bloc {
      display: flex;
      flex-direction: column;
      gap: 7px;
      &__nav {
        @include flex(row, flex-start, center);
        gap: 11px;
        font-weight: 500;
        & i {
          font-size: 11px;
        }
      }
    }

    p {
      margin: 5px 0px;
    }
  }
}
@media (min-width: 1023.9px) {
  .footer {
    &__container {
        @include flex(row-reverse, flex-start, center);
        padding: 20px 20px 0 20px;
      &__logo {
        align-items: end;
        font-size: 16px;
      }
      &__bloc {
        @include flex(row, space-between, center);
        padding: 0 60px;
        gap: 20px;
      }
    }
  }
}
