.header {
    color: black;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
        width: 200px;
        height: auto;
    }
    &__Location {
        background: $third-backgroundcolor;
        display: flex;
        gap: 17px;
        & .input {
            border: none;
        }
    }
}