.header {
  color: black;
  display: flex;
  flex-direction: column;
  &__firstcontainer {
    @include flex (row, center,center);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &__return {
      position: absolute;
      left: 17px;
      & i {
        font-size: 30px;
      }
    }
    &__logo {
      display: flex;
      justify-content: center;
      height: auto;
      font-family: "Shrikhand", serif;
      margin: 14px 0;
    }
  }
  &__container {
    width: 100%;
    background-color: $third-backgroundcolor;
    @include flex (row, center, center);
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.15) ;
    &__Location {
      gap: 17px;
      & i {
        font-size:12px;
        font-weight: 500;
      }
      & input {
        font-size: 16px;
      }
    }
  }
}
