.header {
  color: black;
  display: flex;
  flex-direction: column;
  &__firstcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    &__return {
      z-index: index;
      position: absolute;
      left: 17px;
      & i {
        width: 60px;
        height: 60px;
      }
      width: 30px;
      height: 30px;
    }
    &__logo {
      display: flex;
      justify-content: center;
      height: auto;
      font-family: "Shrikhand", serif;
      margin: 14px 0;
    }
  }
  &__container {
    width: 100%;
    background-color: $third-backgroundcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &__Location {
      gap: 17px;
      & i {
        width: 12px;
        height: 16px;
      }
      & input {
        font-size: 16px;
      }
    }
  }
}
