* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  display: block;
}

input {
  border: none;
  background: transparent;
}

.header {
  color: black;
  display: flex;
  flex-direction: column;
}
.header__firstcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__firstcontainer__return {
  z-index: index;
  position: absolute;
  left: 17px;
}
.header__firstcontainer__return i {
  font-size: 30px;
}
.header__firstcontainer__logo {
  display: flex;
  justify-content: center;
  height: auto;
  font-family: "Shrikhand", serif;
  margin: 14px 0;
}
.header__container {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__container__Location {
  gap: 17px;
}
.header__container__Location i {
  font-size: 12px;
  font-weight: 500;
}
.header__container__Location input {
  font-size: 16x;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
.footer__container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.footer__container__logo {
  margin: 0;
  font-size: 27px;
  font-family: "Shrikhand", serif;
}
.footer__container__bloc {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__container__bloc__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
  font-weight: 500;
}
.footer__container__bloc__nav i {
  font-size: 11px;
}
.footer__container p {
  margin: 5px 0px;
}

@media (min-width: 1023.9px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 25px;
  }
  .footer__container__logo {
    font-size: 16px;
  }
  .footer__container__bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  animation: disappear 0s 3s forwards;
  display: flex;
  justify-content: center;
  place-items: center;
}
.loader__text {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.loader-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  flex-wrap: wrap;
}
.loader-dots .loader-dot {
  width: 40%;
  height: 40%;
  margin: 0;
  border-radius: 25px;
  background-color: #FF79DA;
  animation: three 1s infinite ease-in-out both;
  animation-delay: 0ms;
}
.loader-dots .loader-dot__2 {
  animation-delay: 150ms;
}
.loader-dots .loader-dot__3 {
  animation-delay: 300ms;
}
.loader-dots .loader-dot__4 {
  animation-delay: 450ms;
}

@keyframes three {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.main_btn {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  padding: 13px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  transition: opacity 200ms ease-in-out;
}
.main_btn:hover {
  opacity: 0.7;
}

.function-btn {
  background: #F6F6F6;
  display: flex;
  width: 100%;
  border: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  height: 72px;
  padding: 29px 38px;
  gap: 4%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.function-btn .function__btn-container__number {
  z-index: index;
  position: absolute;
  left: 20px;
  margin: 0;
  color: white;
  font-size: 14px;
  border: solid;
  border-color: #9356DC;
  background-color: #9356DC;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.function-btn i {
  font-size: 19px;
  padding: 0;
  color: #7E7E7E;
}
.function-btn p {
  font-size: 16px;
}

@media (min-width: 1023.9px) {
  .function-btn {
    position: relative;
    display: flex;
    flex: 1;
  }
  .function-btn .function__btn-container__number {
    position: absolute;
    left: -10px;
  }
}
.heart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}
.heart-btn i {
  padding: 0;
  font-size: 26px;
}

.restaurants__cards__container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.restaurants__cards__container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__cards__container-info {
  padding: 6px 9px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 7px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  box-sizing: border-box;
  border-radius: 2px;
  height: 29px;
  border: none;
}
.restaurants__cards__container-content {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px 12px 12px 12px;
}
.restaurants__cards__container-content-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}
.restaurants__cards__container-content-text h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants__cards__container-content-text p {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}
.restaurants__cards__container-content__heart-btn {
  width: 22px;
  height: 21px;
  padding: 5px 25px;
}

.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px 16px 50px 16px;
  gap: 30px;
}
.explore__title {
  margin: 10px 0;
  font-size: 26px;
}
.explore h2 {
  font-size: 24px;
  font-weight: 700;
}
.explore P {
  font-size: 18px;
  font-weight: 300;
}

.function {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  padding: 48px 20px;
}
.function__title {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0;
}
.function__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-left: 10px;
}

@media (min-width: 1023.9px) {
  .function {
    padding: 50px 180px;
    text-align: start;
  }
  .function__btn-container {
    display: flex;
    flex-direction: row;
  }
}
.restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 48px 18px;
  gap: 18px;
  width: auto;
}
.restaurants__title {
  font-size: 24px;
  margin: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

@media (min-width: 1023.9px) {
  .restaurants {
    padding: 30px 180px;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
}/*# sourceMappingURL=home.css.map */