@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  display: block;
}

input {
  border: none;
  background: transparent;
}

/*** Elements des entrées ***/
.page__restaurant__menu__card:nth-child(1) .page__restaurant__menu__card__dishes-btn {
  animation: appear 2s ease forwards;
  opacity: 0;
}

/*** Elements des plats ***/
.page__restaurant__menu__card:nth-child(2) .page__restaurant__menu__card__dishes-btn {
  animation: appear 4s ease forwards;
  opacity: 0;
}

/*** Elements des desserts ***/
.page__restaurant__menu__card:nth-child(3) .page__restaurant__menu__card__dishes-btn {
  animation: appear 8s ease forwards;
  opacity: 0;
}

/*** Elements des desserts ***/
.page__restaurant__menu__card:nth-child(4) .page__restaurant__menu__card__dishes-btn {
  animation: appear 12s ease forwards;
  opacity: 0;
}

/*** Animation des éléments du menu ***/
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.header {
  color: black;
  display: flex;
  flex-direction: column;
}
.header__firstcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__firstcontainer__return {
  position: absolute;
  left: 17px;
}
.header__firstcontainer__return i {
  font-size: 30px;
}
.header__firstcontainer__logo {
  display: flex;
  justify-content: center;
  height: auto;
  font-family: "Shrikhand", serif;
  margin: 14px 0;
}
.header__container {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__container__Location {
  gap: 17px;
}
.header__container__Location i {
  font-size: 12px;
  font-weight: 500;
}
.header__container__Location input {
  font-size: 16px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px 25px;
}
.footer__container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.footer__container__logo {
  margin: 0;
  font-size: 18px;
  font-family: "Shrikhand", serif;
}
.footer__container__bloc {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__container__bloc__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  font-weight: 500;
}
.footer__container__bloc__nav i {
  font-size: 11px;
}
.footer__container p {
  margin: 5px 0px;
}

@media (min-width: 1023.9px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0 20px;
  }
  .footer__container__logo {
    align-items: end;
    font-size: 16px;
  }
  .footer__container__bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    gap: 20px;
  }
}
.main_btn {
  width: 218px;
  height: 50px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  padding: 13px 19px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  transition: opacity 200ms ease-in-out;
}
.main_btn:hover {
  opacity: 0.7;
}

.function-btn {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 25px;
  height: 72px;
  gap: 10%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.function-btn .function__btn-container__number {
  position: absolute;
  left: 20px;
  margin: 0;
  color: white;
  font-size: 14px;
  border: solid;
  border-color: #9356DC;
  background-color: #9356DC;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.function-btn i {
  font-size: 19px;
  padding-left: 10%;
  color: #7E7E7E;
}
.function-btn i:hover {
  color: #9356DC;
}
.function-btn p {
  font-size: 16px;
}

@media (min-width: 1023.9px) {
  .function-btn {
    position: relative;
    display: flex;
    flex: 1;
  }
  .function-btn .function__btn-container__number {
    position: absolute;
    left: -10px;
  }
}
.page__restaurant__menu__card__dishes-btn {
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.page__restaurant__menu__card__dishes-btn:active > .page__restaurant__menu__card__dishes-btn__check {
  margin-right: 0;
}
.page__restaurant__menu__card__dishes-btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page__restaurant__menu__card__dishes-btn__container__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.page__restaurant__menu__card__dishes-btn__container__title h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page__restaurant__menu__card__dishes-btn__container__title p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page__restaurant__menu__card__dishes-btn__container__price {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.page__restaurant__menu__card__dishes-btn__container__price p {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.page__restaurant__menu__card__dishes-btn__check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  border-radius: 0 25px 25px 0;
  width: 80px;
  margin-right: -80px;
  transition: margin-right 0.8s ease;
}
.page__restaurant__menu__card__dishes-btn__check i {
  background-color: white;
  border-radius: 50%;
  border-color: #99E2D0;
  color: #99E2D0;
}

@media (min-width: 1023.9px) {
  .page__restaurant__menu__card__dishes-btn:hover > .page__restaurant__menu__card__dishes-btn__check {
    margin-right: 0;
  }
}
.page__restaurant__menu__card__title {
  box-sizing: border-box;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}
.page__restaurant__menu__card__title h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}

.heart-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.heart-btn__beforeclic {
  position: absolute;
  font-size: 22px;
}
.heart-btn__afterclic {
  font-size: 22px;
  border: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
}
.heart-btn__afterclic:hover {
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-name: animCoeur;
}
@keyframes animCoeur {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.page__restaurant {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
}
.page__restaurant--img {
  box-sizing: border-box;
}
.page__restaurant--img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.page__restaurant__menu {
  margin-top: -25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 40px;
  padding: 32px 17px;
}
.page__restaurant__menu__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.page__restaurant__menu__title-container h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.page__restaurant__menu__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page__restaurant__menu__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1023.9px) {
  .page__restaurant {
    background: white;
  }
  .page__restaurant--img {
    width: 100%;
    height: auto;
  }
  .page__restaurant--img img {
    height: 300px;
  }
  .page__restaurant__menu {
    margin: -25px 192px 0 192px;
    padding: 40px 5%;
  }
  .page__restaurant__menu__title-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}/*# sourceMappingURL=restaurant.css.map */