@import "../utils/variables";
@import "../utils/normalize";

@import "../layout/header";
@import "../layout/footer";

@import "../components/main-btn";
@import "../components/second-btn";
@import "../components/heart-btn";

.page__restaurant {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  &--img {
    box-sizing: border-box;
    & img {
      object-fit: cover;
      width: 100%;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $main-backgroundcolor;
    gap: 40px;
    &__title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & h2 {
            font-family: "Shrikhand", serif;
            font-size: 28px;
            font-weight: 400;
        }
    }
  }
}
