* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h2 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.main-container {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 100%;
    display: block;
}

input {
    border: none;
    background: transparent;
}
