$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$four-color: #008766;
$five-color: #89C8FA;
$six-color: #003A68;
$seven-color: #7E7E7E;

$main-backgroundcolor: #F6F6F6;
$second-backgroundcolor: #353535;
$third-backgroundcolor: #EAEAEA;
