.page__restaurant__menu__card__dishes-btn {
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
    &:active>&__check {
      margin-right: 0;
    }

  &__container {

    @include flex(row, space-between, center);
    padding: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

    &__title {
      display: flex;
      flex-direction: column;
      gap: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;

      & h4 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__price {
      display: flex;
      align-items: flex-end;
      height: 100%;

      & p {
        font-size: 15px;
        font-weight: 700;
        margin: 0;
      }
    }
  }

  &__check {
    @include flex(row, center, center);
    background: $third-color;
    border-radius: 0 25px 25px 0;
    width: 80px;
    margin-right: -80px;
    transition: margin-right 0.8s ease;
    & i{
      background-color: white;
      border-radius: 50%;
      border-color: $third-color;
      color: $third-color;
    }
    
  }
}
@media (min-width: 1023.9px) {
  .page__restaurant__menu__card__dishes-btn {
    &:hover>&__check {
        margin-right: 0;
    }
  }
}
