.function-btn {
    background: $main-backgroundcolor;
    display: flex;
    width: 100%;
    border:none;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    height: 72px;
    padding: 29px 38px;
    gap: 4%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    & .function__btn-container__number{
        z-index: index;
        position: absolute;
        left: 20px;
        margin: 0;
        color: white;
        font-size: 14px;
        border: solid;
        border-color: $main-color;
        background-color: $main-color;
        border-radius: 25px;
        width: 15px;
        height: 15px;
    }
    & i {
        font-size: 19px;
        padding: 0;
    }
    & p {
        font-size: 16px;
    }
}

/******* changement en function_btn********/