.heart-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;

  &__beforeclic {
    position: absolute;
    font-size: 22px;
  }

  &__afterclic {
    font-size: 22px;
    border: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from($second-color), to($main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    opacity: 0;

    &:hover {
      animation-fill-mode: forwards;
      animation-duration: 2s;
      animation-name: animCoeur;

      @keyframes animCoeur {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0.1;
        }
        20% {
          opacity: 0.2;
        }
        30% {
          opacity: 0.3;
        }
        40% {
          opacity: 0.4;
        }
        50% {
          opacity: 0.5;
        }
        60% {
          opacity: 0.6;
        }
        70% {
          opacity: 0.7;
        }
        80% {
          opacity: 0.8;
        }
        90% {
          opacity: 0.9;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
