.restaurants__cards {
    &-container {
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        & img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding-bottom: 4px;
        }
        &-content {
            box-sizing: borderbox;
            background-color: white;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            &-text {
                & h2 {
                    font-size: 18px;
                    margin: 0;
                }
                & p {
                    font-size: 17px;
                    margin: 0;
                }
            }
        }
    }
}