.second_btn {
    background: $main-backgroundcolor;
    display: flex;
    border:none;
    align-items: center;
    border-radius: 25px;
    height: 72px;
    padding: 29px 38px;
    gap: 4%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    & i {
        width: 13px;
        height: auto;
        padding: 0;
    }
    & p {
        font-size: 16px;
    }
}